!!!
%html
  %head
    %title Skyline Creative
    %link{:href => 'styles.css', :rel => 'stylesheet', :type => 'text/css'}
  %body
    #main
      %h1 Skyline Creative is now <a href="http://bluehelicopter.com/">Blue Helicopter</a>
      %p In a press release to news outlets around the world, Skyline Creative announced that founders <strong>Sebastian von Conrad</strong> and <strong>Istv&aacute;n Husz&aacute;r</strong> have decided to part ways.
      %p The split was reportedly amicable and the financial details are undisclosed. "<em>We're the bestest of friends. Period,</em>" <strong>Mr. Husz&aacute;r</strong> said during a press conference in front of hundreds of reporters<span>*</span>.
      %p As a result, <strong>Skyline Creative</strong> has been rebranded as <a href="http://bluehelicopter.com/">Blue Helicopter</a>, a design venture by <strong>Mr. Husz&aacute;r</strong>. "<em>If you like the outstanding websites we created, you should totally go there for any design needs,</em>" Mr. von Conrad commented in a short television interview<span>*</span>.
      %p <strong>Mr. von Conrad</strong>, meanwhile, maintains a <a href="http://vonconrad.com/">personal website</a> and <a href="http://blog.vonconrad.com/">blog</a>, and is generally not available for consulting. "<em>I'll still call him from time to time anyway,</em>" <strong>Mr. Husz&aacute;r</strong> said. "<em>If nothing else, because he makes a mean <strong>cappa-frappa-lattu-chino</strong>.</em>"
      %p.small <span>*</span> Based on actual events
